body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  color: #2e2f42;
}

.section-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-item-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.logo-link {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-link span {
  color: #2e2f42;
}

.section-nav {
  text-transform: capitalize;
  color: #2e2f42;
}

.section-nav-link {
  font-weight: 500;
}

.section-nav-link:hover,
.section-nav-link:focus {
  color: #404bbf;
}

.communication-info {
  font-style: normal;
}

.communication-info li:hover,
.communication-info li:focus {
  color: #404bbf;
}

.section-hero {
  background-color: #2e2f42;
}

.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.main-title span {
  text-transform: lowercase;
}

.hero-button {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  text-transform: capitalize;
  font-style: normal;
  line-height: 1.5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hidden-title {
  visibility: hidden;
}

.section-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.section-team-item {
  background-color: #ffffff;
}

.section-team-text {
  font-size: 16px;
}

.section-portfolio {
  text-transform: capitalize;
}

.section-footer {
  background-color: #2e2f42;
}
.section-footer p {
  color: #f4f4fd;
}

.footer-logo-link {
  color: #4d5ae5;
}

.footer-logo-link span {
  color: #f4f4fd;
}
